BODY
{
	scrollbar-face-color: #C5D5FC; 
	scrollbar-shadow-color: #FFFFFF; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #C5D5FC; 
	scrollbar-darkshadow-color: #7C9FD3; 
	scrollbar-track-color: #F2F7FD; 
	scrollbar-arrow-color: #4D6185;       
      FONT-FAMILY: 宋体; 
      FONT-SIZE: 12px; 
      OVERFLOW-Y: auto; 
      OVERFLOW-X: auto;  
      MARGIN: 0px 0px; 
    background-image: none;
    background-color:#CCCCCC;
    background-attachment:scroll;
    background-repeat:repeat;
    background-position-x:0%;
    background-position-y:0%;
}
P {
	FONT-SIZE: 12px
}
LI {
	FONT-SIZE: 12px	
}	
H1 {
	FONT-SIZE: 18px;
	font-family: "黑体";
	color: #333333;
	font-weight: lighter;
} 

TD {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
.L13 {
	LINE-HEIGHT: 130%
}
P {
	LINE-HEIGHT: 130%
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #111111; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.input {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: white
}
.copy {
	FONT-SIZE: 9pt; COLOR: #003333; FONT-FAMILY: "Arial"
}
.c1 {
	COLOR: #cefba0; FONT-FAMILY: "Arial"
}
.c2 {
	FONT-SIZE: 12px; COLOR: #003434
}
.form_summit {
	FONT-SIZE: 12px; LINE-HEIGHT: 15px
}
.no_ul {
	TEXT-DECORATION: none
}
.l16 {
	LINE-HEIGHT: 16px
}
.EAGRID-TABLE {
	font-family: "宋体";
	font-size: 9pt;
	background-color: B9D7E8;
}
.EAGRID-TR {
	background-color: E6F0F7;
}
.EAGRID-TH {
	background-color: #4791C5;
	color: E6F0F7;
}
.EAGRID-TD {
	font-family: "宋体";
	font-size: 9pt;
}

.BTN-SPAN {
	color: blue;
	cursor: hand;
}

.SPE-SPAN { 
	FONT-SIZE: 15px;
	font-family: "黑体";
	color: #333333;
	font-weight: lighter;
}

.TdBorderBottom {
	border-bottom-style:solid;
	border-bottom-width:1pt;
}

.TableBorder {
	border-bottom-style:double; 
	border-left-style:double;
	border-right-style:double;
	border-top-style:double;
}

.picshow { z-index:444; position:relative; background-color:#e4f2fa;width: 100%; height: 100% }
.picshow_main { position: relative;}
.picshow_main .imgbig { filter: progid:dximagetransform.microsoft.wipe(gradientsize=1.0,wipestyle=4, motion=forward);}
.picshow_change {position: absolute; text-align: left; bottom: 10px; height: 30px; right: 0px; left: 20px;}
.picshow_change img {width:15px; height: 15px}
.picshow_change a { border: 1px solid; display: block; float: left; margin-right: 5px;  -display: inline}
a.axx { border-color: #555}
a.axx:hover {border-color: #000}
a.axx img { filter: alpha(opacity=40); opacity: 0.4; -moz-opacity: 0.4}
a.axx:hover img {filter: alpha(opacity=100); opacity: 1.0; -moz-opacity: 1.0}
a.bxx { border-color: #000}
a.bxx:hover {border-color: #000}
img{border:0px} 